<div id="navbar">
    <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>
    <a class="<%= path === '/help' ? 'active' : '' %>" href="/help">Help</a>
    <a class="<%= path === '/about' ? 'active' : '' %>" href="/about">About</a>
</div>
  

